{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap3 %}
{% block content %}
    <script>
        (
                jQuery(".datepicker").datepicker({
                format: "yyyy-mm-dd",
                language: 'zh-CN',
                autoclose: true,
                todayHighlight: true
            })
        )();
    </script>
    <div class="col-md-10">
        <!-- Horizontal Form -->
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">添加论文</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box-body">
                    {% for field in form %}
                        <div class="form-group">
                            {% if field.field.required %}
                              <label class="col-sm-2 control-label">{{ field.label }}</label>
                            {% else %}
                              <label class="col-sm-2 control-label">{{ field.label }}(选填)</label>
                            {% endif %}
                            <div class="col-sm-8">
                                {% render_field field class+="form-control" %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input class="btn btn-default" type="submit" value="保存">
                    <input class="btn btn-default" type="button" onclick="history.back();" value="返回">
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
{% endblock %}