{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    {% if usertype == '2' %}
    论文评审
    {% else %}
    论文管理
    {% endif %}
{% endblock %}
{% block content %}
    <!-- 表格-->
    <div class="box">
        <div class="box-body">
            <a href="{% url 'projects:thesisInfoAdd'%}"><button type="button" class="btn btn-primary">添加论文</button></a>
            <table class="table table-bordered table-hover" style="margin-top:10px;">
                <thead>
                    <tr>
                        <th>主题</th>
                        <th>摘要</th>
                        <th>关键词</th>
                        <th>用户</th>
                        <th>审核状态</th>
                        <th>评审状态</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                        <th>操作</th>

                    </tr>
                </thead>
                <tbody>
                {% for o in object_list %}
                    <tr>
                        <td>{{ o.theme }}</td>
                        <td>{{ o.headline }}</td>
                        <td>{{ o.keyword }}</td>
                        <td>{{ o.user.username }}</td>
                        <td>{{ o.get_auditStatus_display }}</td>
                        <td>{{ o.get_reviewStatus_display }}</td>
                        <td>{{ o.create_time|date:"Y年m月d日" }}</td>
                        <td>{{ o.modifyTime|date:"Y年m月d日" }}</td>
                        <td>
                        <div class="btn-group" >
                        {% if request.user.username == 'wangkai' %}
                          <a class="btn btn-default" href="{% url 'projects:thesisInfoReview' pk=o.id %} "
                             style="margin-left:10px;">评审</a>
                        {% elif request.user.username == 'wangkai1'%}
                          <a class="btn btn-default" href="{% url 'projects:thesisInfoUpdate' pk=o.id %} "
                             style="margin-left:10px;">修改</a>
                        {% elif request.user.username == 'admin'%}
                          <a class="btn btn-default" href="{% url 'projects:thesisInfoCheck' pk=o.id %} "
                             style="margin-left:10px;">初审</a>
                        {% endif %}
                            <form style="display:inline;" method="POST" action="{% url 'projects:thesisInfoDelete' pk=o.id %}">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-default " style="margin-left:10px;" value="删除"
                                   onclick="return confirm('确认删除这条记录吗？')">
                            </form>
                        </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    <div style="margin-left: 30px;">
        {% bootstrap_pagination page_obj %}
    </div>
    </div>
    <!-- /.box -->
{% endblock %}